* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


body {
    display: flex;
    min-height: 100vh;
    padding: 1rem;
    font-size: 1rem;
}

div.container {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(220, 220, 220);
    border-radius: 1rem;
    margin: auto;
    padding: 3rem;
}

div.container form {
    display: grid;
    grid-template-columns: repeat(2, minmax(auto, 300px));
    grid-template-rows: repeat(3, 1fr);
    height: 300px;
    gap: 0 1.5rem;
}

div.container form div {
    display: flex;
    flex-direction: column;
}

input:valid {
    border: 2px solid black;
}

/* Class submitted will be added when form is submitted
   If there's any invalid inputs, apply :invalid to it */
form.submitted input:invalid:required {
    border: 2px solid red;
}

/* This is the style of error messages */
.error {
    width: 100%;
    padding: 0;

    font-size: 80%;
    color: white;
    background-color: red;
    border-radius: 0 0 5px 5px;
    box-sizing: border-box;
}

.error.active {
    padding: 0.3em;
}